@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Add this to your global CSS file */
body.dark-mode {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
}

body.dark-mode .navbar,
body.dark-mode .sidebar {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
}

body.dark-mode .text-lg:hover {
  background-color: #333333; /* Darker background on hover */
  color: #9c27b0; /* Highlighted text color */
  box-shadow: 0 2px 10px #9c27b0; /* Highlighted box shadow */
}
