.workSection {
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px;
  background-color: #ffffff ;
}

.workTitle {
  font-size: 50px;
  font-weight: bold;
  color: black; /* Updated color */
  margin-bottom: 28px;
  position: relative;
}

.loaderContainer {
  text-align: center;
  padding: 40px;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #4e73df;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loadingText {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.companyName {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2c3e50;
}

.rolePeriod {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.workDetails {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.techStack {
  font-style: italic;
  color: #444;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
